* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.navbar-container{
    position: sticky;
    z-index: 4;
    top: 0;
}
.navbar{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    height: 12vh;
}

.navbar-titulo{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar-carrito{
    cursor: pointer;
}

